body *{
    box-sizing: border-box;
    margin: 0px;
}

/* Main Layout */

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    background-color: #7dd181;
}

body > *{
    flex-grow: 1;
}

/* Header */

body > .main_header{
    background-color: #4b8053;
    color: white;
    padding: 5px;
    flex-basis: 80%;
    border: 1px solid white;
    font-size: 2em;
}

body > .connections_state{
    background-color: #4b8053;
    font-size: 0.7em;
    flex-basis: 20%;
    color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid white;
}

body > .connections_state > *{
    display: flex;
    flex-direction: row;
    padding: 2px;
    width: 100%;
    justify-content: space-around;
}
body > .connections_state > * > *{
    text-align: center;
}
body > .connections_state > * > .state{
    background-color: red;
}
body > .connections_state > * > .state.connected{
    background-color: green;
}

@media screen and (max-width: 800px) {
    body > .main_header{
        flex-basis: 100%;
    }
    body > .connections_state{
        flex-basis: 100%;
    }
}

/* Robot Controler State */

.basicRobotState span{
    font-weight: bold;
}

.coloredStatus{
    padding: 1% 10%;
    text-align: center;
    width: 100%;
    border-width: 3px;
    border-style: solid;
    /*[type="idle"]*/
    background-color: #90e79d;
    border-color: #4b8053;
}
.coloredStatus[type="sending"]{
    background-color: #90e4e7;
    border-color: #4b8077;
}

.coloredStatus[type="working"]{
    background-color: #e1e790;
    border-color: #807b4b;
}



/* Advanced Robot Controler State */

.diode{
    height: 0.8em;
    width: 0.8em;
    margin: 0px;
    padding: 0px;
    background-color: grey;
    border: 1px solid black;
    border-radius: 50%;
}

.diode[diodevalue="1"]{
    background-color: green;
}
.diode[diodevalue="0"]{
    background-color: red;
}

ul.diodes_list{
    list-style:none;
    margin: 0px;
    padding: 0px;
}

ul.diodes_list > li{
    display: flex;
    align-items: center;
    justify-content: left;
    display: none;
}
ul.diodes_list > li > span{
    width: 15ch;
}


/* Color Section */

#camera_image{
    width: 320px;
    height: 240px;
    margin: 0px;
    padding: 0px;
}

#cropper{
    display: none;
    box-sizing: content-box;
    border: 3px solid red;
    outline: 1px solid black;
    position: absolute;
}